.courseWindow {
    width: 100%;
    height: 80%;
    display: flex;
    background-color: white;
    flex-direction: column;
}

.TitleBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10%;
    padding-left: 2%;
}

.CourseLogo {
    align-items: center;
    justify-content: center;
    padding-right: 2%;
}
h2 {
    color: black;
}
.MembersLogo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer2 {
    width:25%;
    height: 100%;
}

.PrivateGroup {
    color: darkgrey;
    width: 10%;
}

.CourseUtils {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 15%;
    height: 100%;
}

.SharePart {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 30%;
    color: darkgray
}

.Dots {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40%;
    color: darkgray;
}

.CourseContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.CourseSideBar {
    width: 12%;
    height: 100%;
    display: flex;
    align-items: start;
}

.nav2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav2 a {
    color: darkslategrey;
    background: white;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 10%;
}

.nav2 a:hover {
    background: #F0F0F0;
}

.MainContentView {
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row1 {
    width: 100%;
    height: 25%;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1%;
}

.row2 {
    width: 100%;
    height: 25%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1%;
}

.row3 {
    width: 100%;
    height: 25%;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1%;
}

h3 {
    color: darkslategrey;
}

h8 {
    color: darkslategrey;
}
