#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

.backgroundWindow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
}

.mainWindowAndTop {
  width:100%;
  display: flex;
  flex-direction: column;
}
