.MainBar {
    width: 100%;
    height: 4%;
    background-color: #80DCF3;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.selectionLogo {
    height: 100%;
    width: 3%;
    cursor: pointer;
}

.liuLogo {
    height:100%;
    padding-right: 10%;
    cursor: pointer;
}

.SharePointText{
    color:black;
    height:100%;
    display: flex;
    align-items: center;
    padding-right: 20%;
}

.SearchBar {
    height: 70%;
    display: flex;
    flex-direction: row;
    width:25%;
    background-color: white;
    border-radius: 2px;
    justify-content: start;
    align-items: center;
}
.lookingLogo{
    align-items: center;
    justify-content: center;
    height: 10%;
    width:10%;
    margin-top: 1%;
    padding-right: 2%;
    padding-left: 4%;
}
.inputField {
    width:80%;
    background-color: white;
    border:none;
    
}
.utilIcons {
    padding-left: 25%;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 10%;
    align-items: center;
    justify-content: space-evenly;
    align-self: end;
}

.imageElements {
    height: 100%;
    width:25%; 
    cursor: pointer;
}
.NavHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}