body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161a20;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.captcha-card {
    background-color: #fff;
    color: #000;
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px rgb(0,0,0,0.3);
    
}
.captcha-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #80dcf3;
    padding: 10px 20px;

}

.captcha-header h2 {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}

.captcha-header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

#category-name {
    font-weight: bold;
}

.captcha-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #fff;
}

.captcha-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.captcha-image.selected {
    border-color: #00ff00;
}

.captcha-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.captcha-footer button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: #80dcf3;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}

.captcha-footer button:hover {
    background-color: #00cc00;
}

.captcha-footer .icon {
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}

.captcha-footer .icon:hover {
    color: #00cc00;
}