.mainTopbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
    
}

.textBoxesLeft {
    color: black;
    align-items: center;
    margin-left: 1%;
}
.textBoxesRight {
    color: black;
    align-items: center;
    margin-right: 1%;
}