.MainSideBar {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 1%;
    width: 3%;
}

.imageElement {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}